 <panel class="picture-item col-md-3 shuffle__sizer" data-groups='["{{category}}"]'>
      
            <div class="picture-item__details">
              <h2><a href="{{ site_page.url}}" class="content__shower">{{ site_page.title }}</a></h2>
              <div class="patt__tagline invisible" >{{site_page.tagline}}</div>

            <footer> 
            	
            	<a class='custom-btn' href="https://twitter.com/intent/tweet?text={{ 'Civic Pattern: '| cgi_escape }}{{ site_page.title | cgi_escape }},&url={{'http://civicpatterns.org' | cgi_escape}}"><i class="fa fa-twitter-square fa-2x"></i></a>
            	
            </footer>
            </div>
        

          </panel>