@media (min-width: 940px) {
  .container {
    max-width: 700px;
  }
}

body {
  font-family: "Bitter", Georgia, serif;
  font-size: 1.8em;
  line-height: 1.5em;
  color: #333;
}

h1, h2, h3 {
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}

#content {
  margin: 2em 0 2em 0;
}

code {
  background-color: #eee;
  color: #333;
}

h1 {
  display:inline-block;
}

#twitterButton {
  display: inline-block;
  position: absolute;
  margin-top: 50px;
  margin-left: 30px;
}