---
categories:
- Community
- Delivery
- Government
- Engagement
---

{% include header.html %}



      <article class="main-content">
    	<div class="jumbotron dotted">
    		<div class="container">
    			<div class="row">
    				<div id="sidebar" class="sidebar col-md-3 col-sm-1">
		      			{% include list.html %}
		      		</div>
		      		<article class="col-md-9 col-sm-1 patt-row" >
		      			{% include patterns-body.html %}
		      		</article>

		       	
		       </div>

		    </div>
		</div>    

      </article>

    




    
{% include footer.html %}
