---
layout: default
---

<h3>Pattern: {{page.name}}</h3>

<p>
    <strong>What is it?</strong> {{page.tagline}}
</p>

{% if page.stub %}
    <div class="alert alert-warning">
        <strong>This pattern is a stub.</strong> Help to grow CivicPatterns.org by 
        explaining the pattern with a description.
        <a class="alert-link" href="https://github.com/civic-commons/civicpatterns.org/edit/gh-pages/patterns/{{page.name}}.md#">Edit now.</a>
    </div>
{% else %}
    {{content}}
{% endif %}

{% if page.related | size > 0 %}
    <h3>Related Patterns</h3>
    <ul>
        {% for related in page.related %}
            {% for p in site.pages %}{% if p.name == related %}
                <li>
                    <a href="/patterns/{{p.name}}.html"><strong>{{p.name}}</strong></a> {{p.tagline}}
                </li>
            {% endif %}{% endfor %}
        {% endfor %}
    </ul>
{% endif %}

