---
layout: default
---

<h2>Tool: {{page.title}}</h2>

<p>
    {{page.tagline}}
</p>

{% if page.stub %}
    <div class="stub">
        <strong>This tool description is a stub.</strong> Help to grow CivicPatterns.org by
        explaining the tool with a description.
        <a class="alert-link" href="https://github.com/civic-commons/civicpatterns.org/edit/gh-pages/{{page.path}}#">Edit now.</a>
    </div>
{% else %}
    {{content}}
{% endif %}

{% if page.related | size > 0 %}
    <h3>Related items</h3>
    <ul>
        {% for related in page.related %}
            {% for p in site.pages %}{% if p.title == related %}
                <li>
                    <a href="{{p.url}}"><strong>{{p.title}}</strong></a> {{p.tagline}}
                </li>
            {% endif %}{% endfor %}
        {% endfor %}
    </ul>
{% endif %}

